html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans';
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.background {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.background_blur {
    background-color: rgba(0, 0, 0, 0.23);
    height: 100.05%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    z-index: 2;
}

@supports ((-webkit-backdrop-filter: blur(6px)) or (backdrop-filter: blur(6px))) {
    .background_blur {
        background-color: rgba(0, 0, 0, 0.08);
        -webkit-backdrop-filter: blur(6px);
        backdrop-filter: blur(6px);
    }
}

.important_btn {
    padding: 20px 30px;
    width: 100%;
    font-size: 1.2em;
    max-width: 275px;
}

.social-button {
    appearance: none;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 8px;
    transition: 0.3s;
    border-radius: 4px;
    cursor: pointer;
}

.social-button.ligth {
    background: #f6f6f6;
    color: #878d9b;
}

.social-button.ligth:hover {
    background-color: #1b1b1b1a;
}

.social-button.ligth:active {
    background-color: #1b1b1b2f;
}

.social-button.dark {
    background: #33383b;
    color: #fff;
}

.social-button.dark:hover {
    background-color: #404649;
}
.social-button.dark:active {
    background-color: #2e3336;
}

.social-button svg {
    font-size: 1.6em;
}

.button-form {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: 'Montserrat', sans-serif;
    border: none;
    outline: none;
    font-weight: 500;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #1a72e7;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
}

.button-form:hover {
    background-color: #3080e9;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.button-form:active {
    background-color: #1766cf;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

input[type='text'],
textarea {
    background-color: #f6f6f6;
    outline: none;
    border: none;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    padding: 6px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 3px;
    color: #3f3f3f;
    padding: 14px;
    font-weight: 500;
}

input[type='text']:focus {
    background-color: #f1f1f1;
}

.error_text {
    margin: 0;
    text-align: center;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    margin-bottom: 15px;
    color: #ec3030;
    font-size: 0.85em;
    font-weight: 500;
}

@media only screen and (max-width: 768px) {
    .button-form {
        cursor: context-menu;
    }
    .button-form:hover {
        background-color: none;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
    }

    .button-form:active {
        background-color: #1766cf;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
    }

    .social-button {
        cursor: default !important;
    }

    .social-button.dark:hover {
        background: #33383b !important;
    }

    .social-button.dark:active {
        background-color: #2e3336 !important;
    }
}
